@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.nav {
  width: 100vw;
  height: 10vh;
  align-items: center;
  background-color: #e9c1f6;
  z-index: 999;
}

.nav__list{
  display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 120%;
    margin-top: -12vh;
}

.nav__listlogo{
  // background-color: black;
  // background: url(/src/assets/images/Logo.png);
  width: 8vw;
  height: 12vh;
  // margin-right: 90vh;
  border-radius: 50%;
}

.nav__listlogo .nav__im{
  // background-color: yellow;
  margin-top: -38%;
  object-fit: cover;
  height: 20vh;
  width: 10vw;
}

.nav__list .nav__line{
  font-style: none;
}
a {
  text-decoration: none !important;
}

.nav__list .nav__listitem{
      list-style: none;
      position: relative;
      padding: 1.5rem 1rem;
      cursor: pointer;
      color: black;
      margin-top: -1%;

      &::after {
        content: "";
        width: 0;
        height: 0.3rem;
        border-radius: 100rem;
        position: absolute;
        left: 0.9rem;
        bottom: 0.8rem;
        background-color: purple;
        transition: width 200ms ease-in;
      }

      &:hover::after,
      &:focus::after {
        width: 80%;
      }
}
