.main
{ 
  height:100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color:#ffff ; 

}


.box
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.calender
{
    height:78vh;
    width:77vw;
    border-radius: 20px;
    align-items: center;
   background-color:#e9c1f6;
}
.periodtrack
{
    height:25vh;
    width:75vw;
    align-items: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-color:darkslategrey;
   
}
.formclass
{
    font-size:1.5em;
    display: flex;
    justify-content:space-evenly;
    // margin: 0 5vw;
    height:11vh;
    width:80%;
    align-items: center;
    background-color: rgb(158, 156, 9);
}

.formclass button{
    font-size:18px;
    margin-left: 3vh;
    cursor: pointer;
}

.trackcol{
    height:5vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#e9c1f6;
    align-items: center;
}


.per{
    height:4vh;
    width:25%;
    align-items: center;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.col{
    height:4vh;
    width:25%;
    border-radius: 50%;
    background-color:#ccf6c1;
}
.col1{
    height:4vh;
    width:25%;
    border-radius: 50%;
    background-color:#ccf6c1;
}
.col2{
    height:4vh;
    width:25%;
    border-radius: 50%;
    background-color:#ccf6c1;
}

// .color{
//     height:4vh;
//     width: 20%;
//     background-color:brown;

// }
// .period
// {

//     height:11vh;
//     width: 80%;
//     align-items: center;
//     background-color: rgb(158, 156, 9);
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
// }

// .periodmonth
// {
//     height:6vh;
//     width: 23%;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content:space-evenly;
//     background-color: #e9c1f6;
// }

// .numdate
// {
//     height:6vh;
//     width:80%;  
// }
// .cal
// {
//   height:6vh;
//   width:20%;
//   cursor: pointer;
//   background-color: antiquewhite;
// }
// .numofdays
// {
//     height:6vh;
//     width: 20%;
//     background-color: #e9c1f6;
//     display: flex;
//     align-items: center;
//     flex-direction: row;
// }
// .period{
//     display: flex;
//     // flex-direction: row;

// }
// .myinput{
//     // display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content:space-evenly;
//     background-color: #e9c1f6;
// }
// .cycle
// {
//     height:6vh;
//     width: 20%;
//     display: flex;
//     align-items: center;
//     flex-direction: row;
//     background-color: #e9c1f6;
// }

// .track
// {
//   height: 4vh;
//   width: 15%;
//   text-align: center;
//   align-items: center;
//   background-color: #e9c1f6;
//   cursor: pointer;
// }
.head
{
 height:4.5vh;
 width:100%;
 background-color: cadetblue;
 display: flex;
 flex-direction: row;
}

.month
{
    height:4.5vh;
    width:20%;
    font-size:1.5em;
    // text-align: center;
    align-items: center;
    // background-color: bisque;
}

.adjust{
    height:4.5vh;
    width:70%;
    // background-color: chocolate;
}
.arrows
{
    width:10%;
    height:4vh;
    display: flex;
    flex-direction: row;
    // background-color: rgb(236, 234, 238);
}

.arrow1
{
    font-size:2em;
    margin-top:-2vh;
    cursor: pointer;
}
.arrow2
{
    font-size:2em;
    margin-top:-2vh;
    cursor: pointer;
}
.days
{
    width:100%;
    height:5vh;
    display: flex;

    justify-content: space-around;
    // background-color: rgb(197, 116, 116);
}


.name
{
    font-size:1.5rem; 
}

.grid
{
    height:76vh;
    width:100%;
    // background-color:bisque;
}

.five
{
   height: 10vh;
   width: 100%;
   margin: 3vh 0vh;
   display: flex;
   align-items: center;
   flex-direction: row;
   text-align: center;
//    background-color: cornflowerblue;
   justify-content: space-evenly;
}
 .seven
 {
    height: 10vh;
    width: 12%;
    // background-color: coral;
    // align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-size:25px;
}

// .date
// {
//     height:3vh;
//     font-size: 1.5em;
//     width: 20%;
//     background-color:ghostwhite;
// }

.mark{
    border-radius : 50%;
    height :4vh;
    width : 4vh;
    
    background-color:blue;
 }

.periodmark{
    border-radius : 50%;
    height :4vh;
    width : 4vh;
    
    background-color:red;
}

.ovulationmark{
    border-radius : 50%;
    height :4vh;
    width : 4vh;
    
    background-color:goldenrod;
}

.inp{
    height :10vh;
    width :80%;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 13vh;
    justify-content:space-evenly;
}

.dat{
    height :5vh;
    width :20%;
    background-color: aliceblue;
}

.msg
{
    height :5vh;
    width :45%;
    background-color: aliceblue;
}
.form2{
    height :100vh;
    position: absolute;
    width : 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.frm
{
    height :45vh;
    width : 40%;
    align-items : center;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.adjust1{
    height: 10%;
    width: 100%;
    background-color:cadetblue;
    display: flex;
    flex-direction: row;
}

.title1{
    height :100%;
    width: 95%;
    background-color:rgb(170, 50, 34);
}

.cross{
    height :100%;
    width: 5%;
    font-size:30px;
    font-weight:bold;
    align-items: center;
    cursor: pointer;
    background-color:rgb(27, 137, 189);
}



.frm2{
    height :90%;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccf6c1;
}

.adjust2{
    height: 30%;
    width: 65%;
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
}


.adjust2 label
{
    align-items: center;
   font-size:30px;
}