<div class="main" *ngIf="!painboolean">
    <div class="box">
        <div class="periodtrack">

            <div class="formclass">
                <form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">

                    <label>
                        Date: <input type="date" formControlName="date">
                    </label>
                    <label>
                        Flow: <input type="number" min="1" max="10" formControlName="flow">
                    </label>
                    <label>
                        Cycle: <input type="number" min="1" max="28" formControlName="cycle">
                    </label>
                    <button type="submit">Track Now</button>
                </form>
            </div>

            <div class="trackcol">
                <div class="per">
                    <div class="col"></div>
                    <div class="name"></div>
                </div>
                <div class="per">
                    <div class="col1"></div>
                    <div class="name"></div>
                </div>
                <div class="per">
                    <div class="col2"></div>
                    <div class="name"></div>
                </div>
                <!-- <div class=""></div> -->
            </div>


        </div>
        <div class="calender">
            <div class="head">
                <div class="month">
                    <div class="year">{{this.months[this.month]}} ,2022</div>
                </div>
                <div class="adjust"></div>
                <div class="arrows">
                    <div class="arrow1" (click)="move('b')">&larr;</div>
                    <div class="arrow2" (click)="move('f')">&rarr;</div>
                </div>
            </div>
            <div class="days">
                <div class="name" *ngFor="let days of days">{{days}}</div>
            </div>
            <div class="grid">
                <div class="five" *ngFor="let week of [0, 1, 2, 3, 4] ">
                    <div class="seven " *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]" >
                       <div (click)="getperioddata(week,day);" [ngClass]="{
                        mark:iscurrent(week, day), periodmark: isCycle(week, day), ovulationmark: isOvulation(week, day) }"
                       >{{daysofweek(week, day) }}
                    <br/>
                   <div *ngIf="daysofweek(week, day)!='' " (click)="makingbooleantrue(week,day);"> Form</div>
                    </div>
                             
                    </div>
                  </div>
            </div>

            <div class="inp">
                <div class="dat">{{getperioddatadate}}</div>
                <div class="msg">{{getperioddatastring}}</div>
            </div>
        </div>
    </div>
 
</div>

    <div class="form2" *ngIf="painboolean">
        <div></div>
        <div class="frm">
            <div class="adjust1">
            <div class="title1">How was your health today</div>
            <div class="cross">&#10005;</div></div>
            <div class="frm2">
                <div class="adjust2">
                
                    <form [formGroup]="userForm" (ngSubmit)="onFormsubmit()">

                        <label>
                           Message: <input type="text" formControlName="pain">
                        </label>
                        <button type="submit">submit</button>
                   
                </form>
            </div></div>
        </div>
        
    </div>
