@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.footer{
    
    // margin-top: 100vh;
    // position: relative;
    height: 30vh;
    width: 100vw;
    background: #c7a0d7;
    // margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // bottom:0%;
}
.custom-shape-divider-bottom {
    margin-bottom: -1px;
    // margin-left: 0.5vw;
    // position: absolute;
    // bottom: 75vh;
    // border: #FCAEBB solid;

    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    height: 25vh;
    animation: changeColor 3s infinite alternate;
}

.custom-shape-divider-bottom svg {
    // position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 177px;

}

.custom-shape-divider-bottom .shape-fill {
    fill: #c7a0d7;
   
}

// #wave {
//     animation: changeColor 3s infinite alternate;
//   }
// #wave1 {
//     animation: changeColor 3s infinite alternate;
//   }
// #wave {
//     animation: changeColor 3s infinite alternate;
//   }
  

// @keyframes changeColor {
//     0%{
//        fill: #c7a0d7;
//     }
//     100%
//     {
//         fill: #FCAEBB;
//     }
// }
.block
{
    height: 27vh;
    width: 100%;
    justify-content: baseline;
    // background-color: #c7a0d7;
    display: flex;
    flex-direction: row;

}
.picture{
    height: 27vh;
    width: 25vw;
    // background-image: url(../assets/images/flower.png);
    // background-color: #c7a0d7;
    margin-bottom: 2vh;
}
.flower{
    height: 30vh;
    width: 20vw;
    // margin-left: 2vh;
   

}
.gap{
    height: 27vh;
    width: 5vw;
    // background-color: #c7a0d7;  
}
.text{
    height: 27vh;
    width: 30vw;
    // background-color: #c7a0d7;
}
.text h1{
    color: black;
    font-family: 'Pacifico', cursive;
}
.footer p{
    color: black;
    font-family: 'Pacifico', cursive;
    font-size: 0.5cm;
}
.contact{
    height: 25vh;
    width: 40vw;
    margin: 0 auto;
    padding: 10px;
}
.field{
    margin-top: 1vh;
    width: 100%;
}
.field input,
.field1 textarea {
    width: 70%;
    padding: 2px;
    font-size: 18px;
    background-color: white;
    border: none;
    border-radius: 1cm;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.field1{
    margin-top: 2vh;
}
textarea{
    resize: vertical;;
}
button{
    width: 30%;
    border: none;
    padding: 3px;
    border-radius: 10px;
    margin-right: -30vw;
    background-color: #FCAEBB;
    text-align: center;
}



.rights{
    height: 3vh;
    width: 30%;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 0.4cm;
}