@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.main {
    // margin : 0;
    // padding : 0;
    height :100vh;
    width : 100vw;
    // display: flex;
    // justify-content: center;
    // background-color: #e9c1f6;
}

.title
{
    height :12vh;
    width : 100%;
    background-color: #E9C1F6;
    z-index: 1000;
    margin-top: -5vh;
    text-align: center;
    font-size:40px;
    font-family: 'Pacifico', cursive;
    font-weight: 800;
}
.custom-shape-divider-top-1644313685 {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    // margin-top: 11.3vh;
    // margin-right:0.5vw;
}

.custom-shape-divider-top-1644313685 svg {
     position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-top-1644313685 .shape-fill {
    fill: #E9C1F6;
}
// .custom-shape-divider-top-1644365657 {
//     // position: absolute;
//     // top: 0;
//     // left: 0;
//     width: 100%;
//     overflow: hidden;
//     // line-height: 0;
// }

// .custom-shape-divider-top-1644365657 svg {
//     position: relative;
//     display: block;
//     width: calc(100% + 1.3px);
//     height: 69px;
// }

// .custom-shape-divider-top-1644365657 .shape-fill {
//     fill:#c7a0d77c;
// }

.ani
{
    height : 53vh;
    width : 100%;
    align-items: center;
    background-color:a;
    overflow: hidden;

}
.girl{
    font-size:15px;
    line-height:15px;
    // height: 68vh;
    // width : 80%;
    // margin-top:-6vh;
    // border: black;
    
    // border-style: dotted;
    margin-top: -16vh;
    // z-index: -1;
    // background-color:brown;
    // padding-top: -40%;
    background : url(https://media.giphy.com/media/41x8G9RQjdKSKbO7it/giphy.gif) ;
    // background-size: 50% 120%;
    // background-size: 450px;
    // background-attachment: fixed;
    // background-position:center;
    // background-repeat:no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255 ,255, 0);
    font-weight: 520;
     mix-blend-mode: darken;
    // margin-left: 2vh;
   
}



.content {
    width:100%;
    display: flex;
    flex-direction: row;
}

.list
{
    width:35%;
    height:140vh;
    background-color:white;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
}
.adj{
    height: 2vh;
}



.blog 
{
    height: 32vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    cursor: pointer;
    // background-color:bisque;
}

.pic
{
  height: 30vh;
  width: 80%;
  align-items: center;
  margin-left: 3.5vw;
  overflow: hidden;
  background-color: chocolate;
}


.info
{
    height: 5vh;
    width:100% ;
    // border-radius: 20px;
    align-items: center;
    background-color: pink;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.blog:hover{
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px silver;
}

.description
{
    width:65%;
    // height:100vh;
    display: flex;
    align-items:center;
    flex-direction: column;
    // background-color:burlywood;
}

.tit
{
    height:8vh;
    width: 70%;
    background-color: pink;
    border-radius: 200px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 28px;
}

.pics
{
    height:40vh;
    width:70%;
    text-align: center;
    align-items:center;
    background-color: rgb(135, 222, 150);
}

.dec
{
    height:65vh;
    width: 80%;
    text-align: center;
    align-items: center;
    font-size: 1.1em;
}
.adjust{
    height: 5vh;
    // background-color: aqua;
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }