/* You can add global styles to this file, and also import other style files */
body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
  }
  .btn {
      border: 1px solid plum;
      border-radius: 20px;
      background: none;
      padding: 10px 20px;
      font-size: 20px;
      font-family: 'montserrat';
      cursor: pointer;
      margin: 10px;
      transition: 0.8s;
      position: relative;
      overflow: hidden;
    }
    .btn1 {
      color: rgba(128, 0, 128, 0.719);
    }
    
    .btn1:hover {
      color: #fff;
    }
    .btn::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0%;
      background: rgb(168, 36, 168);
      z-index: -1;
      transition: 0.8s;
    }
    .btn1::before {
      top: 0;
      border-radius: 0 0 50% 50%;
    }
    .btn1:hover::before {
      height: 180%;
    }
    
  