<div class="coverpage">
    <div class="sec">
        <div class="set">
            <div><img src="../../assets/images/feather1.png" style="width: 2px;"></div>
            <div><img src="../../assets/images/feather2.png"></div>
            <div><img src="../../assets/images/feather3.png"></div>
            <div><img src="../../assets/images/feather4.png"></div>
            <div><img src="../../assets/images/feather1.png"></div>
            <div><img src="../../assets/images/feather2.png"></div>
            <div><img src="../../assets/images/feather3.png"></div>
            <div><img src="../../assets/images/feather4.png"></div>
        </div>
        <div class="set set2">
            <div><img src="../../assets/images/feather1.png" style="width: 2px;"></div>
            <div><img src="../../assets/images/feather2.png"></div>
            <div><img src="../../assets/images/feather3.png"></div>
            <div><img src="../../assets/images/feather4.png"></div>
            <div><img src="../../assets/images/feather1.png"></div>
            <div><img src="../../assets/images/feather2.png"></div>
            <div><img src="../../assets/images/feather3.png"></div>
            <div><img src="../../assets/images/feather4.png"></div>
        </div>
        <div class="set set3">
            <div><img src="../../assets/images/feather1.png"></div>
            <div><img src="../../assets/images/feather2.png"></div>
            <div><img src="../../assets/images/feather3.png"></div>
            <div><img src="../../assets/images/feather4.png"></div>
            <div><img src="../../assets/images/feather1.png"></div>
            <div><img src="../../assets/images/feather2.png"></div>
            <div><img src="../../assets/images/feather3.png"></div>
            <div><img src="../../assets/images/feather4.png"></div>
        </div>
        <div class="wrapper1">
            <ul class="dynamic-txts">
                <li><span>Drink more water!!</span></li>
                <li><span>Exercise more</span></li>
                <li><span>Avoid eating greasy & oily food</span></li>
                <li><span>Maintain good hygiene</span></li>
                <li><span>Bathe & wash yourself regularly</span></li>
            </ul>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1644337205">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                opacity=".25" class="shape-fill"></path>
            <path
                d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                opacity=".5" class="shape-fill"></path>
            <path
                d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                class="shape-fill"></path>
        </svg>
    </div>
</div>

<div class="about-us">
    <div class="title-about">
        About Us
    </div>
    <div class="body-about">
        We at ‘woMEn Corner’ focus on reaching out to as many women as possible. In this 21st century, most of the
        female come under working population, who are quite busy with their professional life and hardly have sometime
        to focus on themselves. A lot of girls suffering from PCOD/PCOS don’t even realize what they are going through.
        All this is because we don’t consider visiting a gynecologist for a routine check-up and why so? Hence, we
        decided to build a safe space for exploring, discussing, spreading awareness, bursting myths and so much more!
        <br>
        "WoMEn CORNER" will create and carry out a calendar and period tracker for every one of the young ladies with a
        goal of keeping them from passing up a great opportunity the track of their periods. Further, we are likewise
        going to share a few blogs and recordings about the connected stuff to spread mindfulness among individuals,
        people and young ladies to build the radii of our span.
    </div>
</div>

<div class="cont">
    <div class="custom-shape-divider-top-1644337550">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                opacity=".25" class="shape-fill"></path>
            <path
                d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                opacity=".5" class="shape-fill"></path>
            <path
                d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                class="shape-fill"></path>
        </svg>
    </div>
    <!-- <div class="space"></div> -->
    <div class="creater">Creaters</div>
    <br>
    <div class="catalogue">
        <div class="card">
            <div class="name">
                <div class="image"><img src="../../assets/images/k.jpeg" style="height: 30vh; width: 15vw; border-radius: 50%;"></div>Krithika Saravanan
                <div class="intro">Full-stack developer and an open-source enthusiast</div>
            </div>
        </div>
        <div class="card">
            <div class="name">
                <div class="image"><img src="../../assets/images/Tanvee.jpeg" style="height: 30vh; width: 15vw; border-radius: 50%;"></div>Tanvee Joshi
                <div class="intro">A problem solver and an upcoming Back-End Developer</div>
            </div>
        </div>
        <div class="card">
            <div class="name">
                <div class="image"><img src="../../assets/images/Preethika.jpeg" style="height: 30vh; width: 15vw; border-radius: 50%;"></div>Preethika K.
                <div class="intro">A passionate designer and Front-End Developer</div>
            </div>
        </div>
        <div class="card">
            <div class="name">
                <div class="image"><img src="../../assets/images/mantri.jpeg" style="height: 30vh; width: 15vw; border-radius: 50%;"></div>Tanvi Mantri
                <div class="intro">An enthusiast with major interest in Management and Front-End Development</div>
            </div>
        </div>
    </div>
</div>
<div class="custom-shape-divider-bottom-1644339328">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
        preserveAspectRatio="none">
        <path
            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
            opacity=".25" class="shape-fill"></path>
        <path
            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
            opacity=".5" class="shape-fill"></path>
        <path
            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
            class="shape-fill"></path>
    </svg>
</div>

<div class="container1">
    <div class="space"></div>
    <div class="reviews">Reviews By our Users</div>
    <div class="catalogues">
        <div class="user">
            <div class="imge-usr"><img src="../../assets/images/Siona.jpeg" style="height: 20vh; width: 10vw; border-radius: 50%;"></div>
            <div class="rvw-usr">This site is very astonishing, responsive, inreactive!!
                <br><br> - Siona Farel
            </div>
        </div>
        <div class="user">
            <div class="imge-usr"><img src="../../assets/images/Tanvi_Mom.jpeg" style="height: 20vh; width: 10vw; border-radius: 50%;"></div>
            <div class="rvw-usr">This site is nice!!
                <br> Was very helpful!!
                <br><br> - Deepti Mantri</div>
        </div>
        <div class="user">
            <div class="imge-usr"><img src="../../assets/images/mumma.jpeg" style="height: 20vh; width: 10vw; border-radius: 50%;"></div>
            <div class="rvw-usr">This site is very astonishing!!
                <br>Was very usefull!!
                <br><br> - Radhika Kalluri</div>
        </div>
    </div>

</div>

<app-foot></app-foot>
